{% extends "base.html" %}

{% block title %} Relat&oacute;rio de Infraç&otilde;es {% endblock %}

{% block home %}item {% endblock %}
{% block cadastros %}item {% endblock %}
{% block relatorios %}item active{% endblock %}
{% block sobre %}item {% endblock %}
{% block op1 %} item {% endblock %}
{% block op2 %} item {% endblock %}

{% block result %}
<div class='ui grid relatorio'>
    <div class='centered row'>
        <div class='ten wide column'>
            <a id="print" class="ui circular ui icon button right floated" href='javascript:window.print()'
               rel="nofollow"
               target="_blank">
                <i class="fa fa-print"></i>
                Imprimir
            </a>

            <h2 class="ui header">
                <i class="browser icon"></i>
                <div class="content">
                    Detalhes Infração
                    <div class="sub header">Visualizaçao do auto de infraçao.</div>
                </div>
            </h2>

            <div class="ui segments">
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <i class="fa fa-tags icone"></i>
                        <div class="content">
                            1. IDENTIFICAÇÃO DA AUTUAÇÃO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <label class="header label">CÓDIGO DO ÓRGÃO AUTUADOR: {{det.autuador}}</label>
                        </div>
                        <div class="item">
                            <label class="header label">N° AIT: {{infracao.id}}</label>
                        </div>

                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <i class="fa fa-car icone"></i>
                        <div class="content">
                            2. IDENTIFICAÇÃO DO VEÍCULO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <label class="header label"> <b>PLACA: </b>{{infracao.veiculo.placa}} </label>
                            
                        </div>
                        <div class="item">
                            <label class="header label">MARCA/MODELO: {{infracao.veiculo.modelo.descricao}}</label>
                            
                        </div>

                        <div class="item">
                            <label class="header label">ESPÉCIE: {{infracao.veiculo.especie.descricao}}</label>
                    
                        </div>

                        <div class="item">
                            <label class="header label"> TIPO: {{infracao.veiculo.tipo_veiculo.descricao}}</label>
                            
                        </div>

                         <div class="item">
                            <label class="header label"> CATEGORIA: {{infracao.veiculo.categoria.descricao}}</label>
                            
                        </div>

                        <div class="item">
                            <label class="header label">CIDADE: {{infracao.veiculo.cidade.nome}}</label>
                            
                        </div>
                        <div class="item">
                            <label class="header label">UF: {{infracao.veiculo.cidade.uf.sigla}}</label>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <i class="fa fa-file-text icone"></i>
                        <div class="content">
                            3. IDENTIFICAÇÃO DO LOCAL DA INFRAÇÃO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <label class="header label">LOCAL DA INFRAÇÃO: {{infracao.local}} {{infracao.local_numero}} </label>
                        </div>
                         <div class="item">
                            <label class="header label">DATA/HORA: {{infracao.data_infracao}}</label>
                        </div>
                        <div class="item">
                            <label class="header label">CÓDIGO DO MUNÍCIPIO: {{det.cod_municipio}}</label>
                        </div>
                       
                        <div class="item">
                            <label class="header label"> MUNÍCIPIO: JOINVILLE UF: SC </label> 
                        </div>
                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <i class="fa fa-user icone"></i>
                        <div class="content">
                            4. TIPIFICAÇÃO DA INFRAÇÃO
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">

                        <div class="item">
                            <label class="header label">CÓDIGO / DESCRIÇÃO DA INFRAÇÃO: {{infracao.tipo_infracao_id}} </label>
                            {{infracao.tipo_infracao.descricao}}
                            
                        </div>

                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <i class="fa fa-eye icone"></i>
                        <div class="content">
                            5. IDENTIFICAÇÃO DO AGENTE AUTUADOR
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <label class="header label">MATRÍCULA: {{infracao.agente.identificacao}}</label>   
                        </div>
                         <div class="item">
                            <label class="header label">ASSINATURA:</label>   
                        </div>
                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <i class="fa fa-user-secret icone"></i>
                        <div class="content">
                            6. IDENTIFICAÇÃO DO CONDUTOR
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui divided list">
                        <div class="item">
                            <label class="header label">NOME: {{infracao.infrator.nome}}</label>
                        </div>
                        <div class="item">
                            <label class="header label">CNH/PPD: {{infracao.infrator.cnh}}</label>
                        </div>
                        <div class="item">
                            <label class="header label">UF: SC</label>
                        </div>
                        <div class="item">
                            <label class="header label">CPF: {{infracao.infrator.documento}}</label>
                        </div>
                        <div class="item">
                            <label class="header label">ASSINATURA:</label>
                        </div>
                    </div>
                </div>

                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <i class="fa fa-user-secret icone"></i>
                        <div class="content">
                            7. IDENTIFICAÇÃO DO INFRATOR
                        </div>
                    </h3>
                </div>
                <div class ="ui secondary segment">
                    <div class="ui divided list">
                            <div class="item">
                                <label class="header label">NOME: {{infracao.infrator.nome}}</label>
                            </div>
                           
                            <div class="item">
                                <label class="header label">CPF / CNPJ: {{infracao.infrator.documento}}</label>
                            </div>
                          
                        </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <i class="fa fa-user-secret icone"></i>
                        <div class="content">
                            8. OBSERVAÇÃO
                        </div>
                    </h3>
                </div>
                <div class ="ui secondary segment">
                    <div class="ui divided list">
                            <div class="item">
                                {{infracao.obs}}
                            </div>
                                                    
                    </div>
                </div>
                <div class="ui tertiary segment">
                    <h3 class="ui header">
                        <i class="fa fa-picture-o icone"></i>
                        <div class="content">
                            Anexo
                        </div>
                    </h3>
                </div>
                <div class="ui secondary segment">
                    <div class="ui medium images anexo">
                        {% for img in imagens %}
                        <img src="/{{img.photo}}">
                        {% endfor %}
                    </div>
                </div>
            </div>
            <a href='..'>
                <button type="button" class="ui cancel red button">Cancelar</button>
            </a>
            <a href='javascript:window.print()' rel="nofollow"
               target="_blank">
                <button type="button" class="ui verde button">Imprimir</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}