{% extends "base.html" %}

{% block title %} Relat&oacute;rio de Infraç&otilde;es {% endblock %}

{% block home %}item {% endblock %}
{% block cadastros %}item {% endblock %}
{% block relatorios %}item active{% endblock %}
{% block sobre %}item {% endblock %}
{% block op1 %} item {% endblock %}
{% block op2 %} item {% endblock %}


{% block result %}
<div class='ui grid relatorio'>
    <div class='row'>
        <div class='three wide column'>
        </div>
        <div class='ten wide column'>
            <h2 class='ui header'>
                <i class="browser icon"></i>
                <div class="content">
                    Relat&oacute;rio de Infra&ccedil;&atilde;o
                    <div class='sub header'>Prencha os campos abaixo para refinar a busca.</div>
                </div>
            </h2>
            <div class="ui fluid form">
                <form method="POST" action="{% url 'relatorio-infracao' %}">
                    {% csrf_token %}
                    <div class='field'>
                        <label>Busca</label>
                        <input type="text" name="procurar"/>
                    </div>
                    <button type="submit" class="ui verde button">Consultar</button>
                </form>
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Infrator</th>
                        <th>Agente</th>
                        <th>Veiculo</th>
                        <th>Data Infração</th>
                        <th>Status</th>
                        <th>Detalhes</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for infracao in infracoes %}
                    <tr>
                        <td>{{ infracao.id }}</td>
                        {% if infracao.infrator.nome %}
                            <td>{{ infracao.infrator.nome }}</td>
                        {% else %}
                            <td> Infrator não identificado </td>
                        {% endif %}
                        <td>{{ infracao.agente.username }}</td>
                        <td>{{ infracao.veiculo.placa }}</td>
                        <td>{{ infracao.data_infracao | date:"d/m/Y h:i:s" }}</td>
                        {% if infracao.is_cancelado == True %}
                        <td> <i class="remove red large icon"></i> </td>    
                        {% else %}
                        <td> <i class="checkmark green large icon"></i> </td>
                        {% endif %}
                        
                        <td><a href="{% url 'detalhes-infracao' infracao.id %}"><i class='fa fa-plus-square icon'></i>Detalhes</a></td>
                        
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "partials/paginacao.html" with lista=infracoes procurar=procurar %}
            </div>
        </div>
    </div>
</div>

{% endblock %}