{% extends "base.html" %}
{% block title %} Cadastro de Dispositivo {% endblock %}

{% block home %}item {% endblock %}
{% block cadastros %}item active{% endblock %}
{% block relatorios %}item {% endblock %}
{% block sobre %}item {% endblock %}
{% block op1 %} item {% endblock %}
{% block op2 %} item {% endblock %}

{% block result %}
<div class='ui grid'>
    <div class='row'>
        <div class='three wide column'></div>
        <div class='ten wide column'>
            {% if form.instance.id %}
            <form method="POST" action="{% url 'cad-dispositivo' form.instance.id %}" class='ui form'>
                {% else %}
                <form method="POST" action="{% url 'cad-dispositivo' %}" class='ui form'>
                    {% endif %}
                    {% csrf_token %}
                    <h2 class='ui header'>
                        <i class="tablet icon"></i>

                        <div class="content">
                            Cadastro de Dispositivo
                            <div class='sub header'>Prencha os campos abaixo.</div>
                        </div>
                    </h2>
                    <div class='field'>
                        <label>IMEI</label>

                        <div>
                            {{ form.imei }}
                            {% if form.imei.errors %}
                            <div class="ui red pointing label">
                                {{ form.imei.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class='field'>
                        <label>Ativo?</label>

                        <div>
                            {{ form.ativo }}
                            {% if form.ativo.errors %}
                            <div class="ui red pointing label">
                                {{ form.ativo.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <a href='/cadastros'>
                        <button type="button" class="ui cancel red button">Cancelar</button>
                    </a>
                    <button type="submit" class="ui verde button">Salvar</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}