<html>
<head>
    <title> {% block title %}{% endblock %}</title>
    {% block refresh %} {% endblock %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/semantic.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/relatorios.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome-4.3.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sticky.css"/>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/sticky.js"></script>
    <script src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}css/components/transition.js"></script>
    <script src="{{ STATIC_URL }}css/components/modal.js"></script>
    <script src="{{ STATIC_URL }}css/components/progress.js"></script>
    <script src="{{ STATIC_URL }}js/detrans.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.png"/>
    {% block semantic_2.1 %} {% endblock %}
    {% load sistema %}
</head>
<body>
<header>
  <div class="ui grid">
    <div class="fourteen wide column">
       <div id='topo'>
            <a href='/'>
                <h2 class='ui header linklogo'>
                    <img src="{{ MEDIA_URL }}{% logo %}" alt='{% sigla %}' width='100px'/>
                    <div class="content">
                        {% sigla %}
                        <div class="sub header">{% nome_completo%}</div>
                    </div>
                </h2>
            </a>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class='ui two wide column usuario'>
            <div class="ui blue inverted segment cazul">
                <h2 class="ui header cazul" id="config">
                    <i class="user icon"></i>
                    <div class="content">
                        {{request.user.first_name}}
                    </div>
                    <div class='ui divider'></div>
                </h2>
                <p class='hidden config'><a class="branco" href="/cria-sqlite/"><i class='icon refresh'></i>
                Gerar Banco M&oacute;vel</a></p>
                <p class='hidden config'><a class="branco" href="/configuracoes/"><i class='icon settings'></i>
                Configurações</a></p>
                <p class='hidden config'><a class="branco" href="/config/set/det"><i class='icon list layout'></i>
                Edição de DET007</a></p>
                <p class='hidden config'><a class="branco" href="/config/get/det"><i class='icon book'></i>
                Consulta de DET007</a></p>
                <p class='hidden config'><a class="branco" href="/logout/"><i class='icon sign out'></i>
                Sair</a></p>
            </div>
        </div>
    {% endif %}
    <nav class='ui menu azul inverted large'>
       
        <a class='{% block home %}{% endblock %}' href='/'> Home </a>
        <a class='{% block cadastros %}{% endblock %}' href='/relatorios/'> Cadastros e Relat&oacute;rios</a>
        <div class="right menu">
            <a class="{% block sobre %}{% endblock %}" href="/sobre">
                Sobre
            </a>
        </div>
    </nav>
</header>
<article class="content">
 {% block legal %}
        {% endblock %}
    {% block result %}
    {% endblock %}
</article>
<footer id="footer" class='ui stackable grid '>
    <div class="middle aligned row ">
        <div class='three wide column'>
            <figure class="banner">
                <img src="{{ STATIC_URL }}/img/prefj.png" alt='Fàbrica de Software' width='75px'>
            </figure>
        </div>
        <div class='ten wide column'>
            <h4 class='ui header foot'> Prefeitura de Joinville
                <p class='sub header foot' id="span">
                    Av. Herman August Lepper, 10 | Centro
                </p>
                <p class="sub header foot" id="span">
                    Joinville | SC | 89221-901
                </p>
                <p class="sub header foot" id="span">
                    47 3431.3233
                </p>
            </h4>
        </div>
        <div class='three wide only computer column'>
            <h5 class='ui header foot'>
                Desenvolvido por:
                <p>
                    <a href='http://fabricadesoftware.araquari.ifc.edu.br' class='sub header foot'>
                        Fábrica de Software
                    </a>
                </p>

            </h5>
        </div>
    </div>
</footer>
</body>
</html>
