{% extends "base.html" %}
{% block title %} Cadastro de esp&eacute;cie {% endblock %}

{% block home %}item {% endblock %}
{% block cadastros %}item active{% endblock %}
{% block relatorios %}item {% endblock %}
{% block sobre %}item {% endblock %}
{% block op1 %} item {% endblock %}
{% block op2 %} item {% endblock %}

{% block result %}
<div class='ui grid'>
    <div class='row'>
        <div class='three wide column'></div>
        <div class='ten wide column'>
            {% if form.instance.codigo %}
            <form method="POST" action="{% url 'cad-especie' form.instance.codigo %}" class='ui form'>
                {% else %}
                <form method="POST" action="{% url 'cad-especie' %}" class='ui form'>
                    {% endif %}
                    {% csrf_token %}
                    <h2 class='ui header'>
                        <i class="fa fa-truck icone"></i>Cadastro de Esp&eacute;cie
                        <div class='sub header'>Prencha os campos abaixo.</div>

                    </h2>
                    <div class='six field'>
                        <div class="field">
                            <label>Codigo</label>

                            <div>
                                {{ form.codigo }}
                                {% if form.codigo.errors %}
                                <div class="ui red pointing label">
                                    {{ form.codigo.errors }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class='field'>
                        <label>Especie</label>

                        <div>
                            {{ form.descricao }}
                            {% if form.descricao.errors %}
                            <div class="ui red pointing label">
                                {{ form.descricao.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <a href='/cadastros'>
                        <button type="button" class="ui cancel red button">Cancelar</button>
                    </a>
                    <button type="submit" class="ui verde button">Salvar</button>
                </form>
        </div>
    </div>
</div>

{% endblock %}